.layout{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  justify-content: center;
}
//.layout figure img {
//  -webkit-filter: grayscale(100%);
//  filter: grayscale(100%);
//  -webkit-transition: .3s ease-in-out;
//  transition: .3s ease-in-out;
//}
//@mixin transition {
//  @for $i from 1 through 4 {
//      &:nth-child(#{$i}) {
//      -webkit-filter: grayscale(0);
//      filter: grayscale(0);
//    }
//  }
//}
//.layout figure:hover img {
//  @include transition;
//}
.layout img
{
  object-fit: cover;
  padding: 20px;
}
.img-box{
  margin: 20px;
  h4{
    font-family: 'Dancing Script', cursive;
  }
}
.video
{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

