<app-banner [text]="'About Us'" [image]="'./../../assets/images/about_banner.jpg'" class="text-underline"></app-banner>

<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex" data-aos="fade-up">
        <div class="img img-about align-self-stretch" style="background-image: url('../../../assets/images/about.jpg'); width: 100%;"></div>
      </div>
      <div class="col-md-6 pl-md-5" data-aos="fade-up">
        <h2 class="mb-4">{{heading}}</h2>
        <div [innerHTML]="text" ></div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row justify-content-center mb-5 pb-3">
    <div class="col-md-7 heading-section  text-center" data-aos="fade-up">
      <h2 class="mb-4">Our Supporters</h2>
    </div>
    <!-- Slider main container -->
    <div [swiper]="config" class="swiper-container">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        <div *ngFor="let logo of logos" class="swiper-slide align-self-center"><img width="150" [src]="logo" alt="Company Logo"></div>

      </div>
      <!-- If we need pagination -->
      <!--  <div class="swiper-pagination"></div>-->

    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section  text-center" data-aos="fade-up">
        <h2 class="mb-4">Our Sustainable Activities with Japanese and South Korean Organizations</h2>
      </div>
    </div>
    <h3>1. Used Clothes Collection</h3>
    <h3>2. Karkhana Project</h3>
  </div>
</section>


