<section class="d-sm-block">
  <!-- Thumbnail navigation -->
  <div class="swiper-container nav-slider loading" (imagesReady)="onNavSwiperImagesReady($event)" (swiperClick)="onNavSwiperClick($event)" [swiper]="navSlider">
    <div class="swiper-wrapper" role="navigation">
      <div *ngFor="let project of projects" class="swiper-slide">
        <figure class="slide-bgimg" [ngStyle]="{'background-image': 'url('+ project.image +')'}">
          <img [src]="project.image" class="entity-img" />
        </figure>
        <div class="content">
          <p class="title">{{project.title}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="swiper-container main-slider loading"  (init)="onMainSwiperInit($event)" (imagesReady)="onMainSwiperImagesReady($event)"  [swiper]="mainSlider">
    <div class="swiper-wrapper">
      <div *ngFor="let project of projects" class="swiper-slide">
        <figure class="slide-bgimg" [ngStyle]="{'background-image': 'linear-gradient(to right,black,transparent),url('+ project.image +')'}" data-swiper-parallax-x="50%">
          <img [src]="project.image" class="entity-img" />
        </figure>
        <div class="content">
          <p class="title">{{project.title}}</p>
          <span class="caption" data-swiper-parallax-x="30%" data-swiper-parallax-opacity="0" [innerHTML]="project.content"></span>
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>

</section>

